@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {

  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #FFFFFF;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  
  --shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), 
            -0.2rem -0.2rem 0.5rem var(--white);
  --inner-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), 
                  inset -0.2rem -0.2rem 0.5rem var(--white);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  overflow-y: scroll;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--greyLight-1);
  color: var(--greyDark);
  font-size: 1.6rem;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
