.overlay {
  height: 200vw;
  width: 200vw;
  border-radius: 50%;
  background: var(--greyLight-1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  pointer-events: none;
  z-index: 0;
  transition: all 1s ease;
}

.overlay--active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.nav {
  background: var(--greyLight-1);
  padding: 2.2rem 4.5rem;
  border-radius: 1.5rem;
  box-shadow: var(--shadow);
  position: relative;
  z-index: 1000;
  margin-bottom: 3rem;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.tabs {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  gap: 1.5rem;
}

.tab {
  padding: 1.3rem 2.3rem;
  border-radius: 5.5rem;
  text-align: center;
  white-space: nowrap;
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  flex: 0 1 auto;
  max-width: 6rem;
  box-shadow: var(--shadow);
}

.tab__is-active {
  max-width: 30rem;
  background: var(--greyLight-1);
  box-shadow: var(--inner-shadow);
}

.tab__is-active .tab_name {
  opacity: 1;
}

.tab_circle {
  position: absolute;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  border: 2px solid;
  z-index: 10;
  opacity: 0;
  left: 3rem;
  top: 50%;
  transform: translateY(-50%) scale(0);
  pointer-events: none;
  transition: all 0.4s ease;
}

.tab__is-active .tab_circle {
  animation: circleExpand 0.4s ease;
}

@keyframes circleExpand {
  0% {
    transform: translateY(-50%) scale(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50%) scale(3);
    opacity: 0;
  }
}

.tab_icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  vertical-align: middle;
  position: relative;
  right: 0.3rem;
  top: -0.1rem;
  object-fit: contain;
}

.tab_name {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease;
  top: 0.1rem;
  opacity: 0;
}

.tab__is-active .tab_name {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .nav {
    padding: 1.5rem 2rem;
  }

  .tabs {
    gap: 1rem;
  }

  .tab {
    padding: 1rem 1.5rem;
    flex-basis: 8rem;
  }

  .tab__is-active {
    max-width: 12rem;
  }
}
