.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--greyLight-1);
}

.app-header {
  padding: 2rem;
  text-align: center;
}

.app-header h1 {
  font-size: 3.6rem;
  color: var(--primary);
  font-weight: 600;
  text-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
}

.app-main {
  flex: 1;
  padding: 2rem;
  max-width: 120rem;
  margin: 0 auto;
  width: 100%;
}
