.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 9.2rem;
}

.checkbox-input {
  display: none;
}

.checkbox-label {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 0.6rem;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--greyDark);
  transition: all 0.3s ease;
  font-size: 1.8rem;
  font-weight: 700;
}

.checkbox-label:hover {
  color: var(--primary);
}

.checkbox-label--checked {
  box-shadow: var(--inner-shadow);
  color: var(--primary);
}

.checkbox-icon {
  animation: checkPop 0.3s ease;
}

.checkbox-text {
  font-size: 1.4rem;
  color: var(--greyDark);
}

@keyframes checkPop {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
